.link.link-back back
.content
	if user
		h2= user.name
	else
		h2 Authentification

		p
			|Start using Kinofé by logging in<br>
			|with one of your favorite services:
		ul.auth-list
			li Twitter
			li Facebook
			li Вконтакте
		p
			|We will remember all of your favorite<br>
			|movies, so you can use Kinofé<br>
			|with different devices & browsers.
