.details {
	background: $darkBgColor;

	.back {
		cursor: pointer;
	}

	.content {
		margin: 20px;
		color: $lightColor;
	}

	.details-img {
		display: block;
		margin: auto;
	}

	h2 {
		margin: 1.5em 0;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
	}

	li {
		margin-left: 1em;
		list-style: initial;
	}

}
