$sprite-url: '../images';
//$icon-layout: smart;
$icon-spacing: 10px;
@import 'icon/*.png';
@include all-icon-sprites;

.img-replace {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}

.icon-settings {
	position: absolute;
	top: 17px;
	left: 10px;
	height: 30px;
	width: 40px;
	cursor: pointer;
}

.icon-theater {
	position: absolute;
	top: 17px;
	right: 10px;
	height: 30px;
	width: 40px;
	cursor: pointer;
}