@import 'settings';

body {
	overflow-y: scroll;
	margin: 0;
	font-family: Arial, sans-serif;
	color: $mainColor;
	background: $mainBgColor url(../images/noise.png);
}
h2, h3 {
	margin: 0;
	font-weight: bold;
}
h1 {
	margin: 0 auto 0;
	width: 83px;
	height: 30px;
}
h2 {
	margin-top: 2px;
	text-align: center;
	font-size: 8px;
	letter-spacing: 1.6px;
	text-indent: 1px;
}
h3 {
	font-size: 16px;
	color: $darkColor;
}
.main-header {
	@include box-sizing(border-box);
	padding-top: 13px;
	height: 61px;
	border-bottom: 1px solid $borderColor;
}

.show-panel {
	position: absolute;
	padding: 17px 10px;
	top: 0;
	width: 40px;
	height: 30px;

	&.show-settings {
		left: 0;
	}
	&.show-theater {
		right: 0;
	}
	span {
		display: block;
		height: 100%;
	}
}

@import 'icons';
@import 'film-list';
@import 'film-details';
@import 'sidebar';
//@import 'panel';
//@import 'preloader';
